.heroItem {
  position: relative;
  width: calc(142px / var(--retina-value));
  height: calc(142px / var(--retina-value));

  @media (--large) {
    width: 65px;
    height: 65px;
  }

  &__hoverable {
    background: #ffffff;
    color: #ac7644;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s, color 0.3s;
    position: absolute;
    inset: 0;
    z-index: 2;

    &.hovered {
      background: #ac7644;
      color: #ffffff;
    }
  }

  &__tooltip {
    position: absolute;
    padding-top: 10px;
    bottom: -48px;
    left: -74px;
    background: #000;
    min-width: calc(578px / var(--retina-value));
    min-height: calc(177px / var(--retina-value));
    font-size: calc(36px / var(--retina-value));
    font-family: 'Nunito Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    @media (--large) {
      min-width: 246px;
      min-height: 65px;
      font-size: 15px;
      bottom: -52px;
      left: -88px;
    }

    > h4 {
      color: #ac7644;
      line-height: 1.44;
      text-transform: uppercase;
    }

    > p {
      color: #ffffff;
      line-height: 1.44;
    }
  }
}
