.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;

  &__main {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    /* bottom: 150px; */
    
    &__text {
      text-align: left;

      & > h1 {
        color: #fffff2;
        font-size: 40px;
        line-height: 1.2;
        font-family: "Poppins";
        font-weight: 600;
      }

      & > p {
        margin-top: 10px;
        max-width: 400px;
        font-size: 18px;
        color: #fffff2;
        line-height: 1.3;
        font-family: "Poppins";
        font-weight: 100;
      }
    }

    &__buttons {
      margin-top: 20px;

      & > button {
        margin-right: 20px;
        width: 200px;
        height: 35px;
        border-radius: 2px;
        color: black;
        border: none;
        font-size: 13px;
        font-family: "Poppins";
        transition: ease-out 0.2s;
        outline: none;

        &:nth-child(1) {
          background-color: #30388e;
          color: white;

          &:hover {
            box-shadow: inset 200px 0 0 0 #fff;
            cursor: pointer;
            color: #000;
            font-weight: 600;
          }
        }

        &:nth-child(2) {
          background: transparent;
          border: 2px solid #fff;
          color: #fff;
          position: relative;
          transition: 0.5s ease-in-out;
          
          &:before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            background: #f9be79;
            transition: 0.3s ease-in-out;
            clip-path: circle(0% at 50% 50%);
          }
          &:hover {
            clip-path: circle(100% at 50% 50%);
            border: 2px solid #f9be79;
            color: #30388e;
            cursor: pointer;
            font-weight: 600;
          }
          &:hover:before {
            clip-path: circle(100% at 50% 50%);
          }
        }
      }
    }
  }

  &__image {
    position: relative;
    width: 300px;
    height: 300px;
    transform: scale(1.4);
  }
}